.layout-main {
  height: 100vh;
  background-color: transparent;

  .layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background: transparent;
  }

  .layout-content {
    padding: 20px;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .layout-footer {
    background: transparent url("../../assets/bip_logo.png") no-repeat center center;
    background-size: 20%;
    height: 100px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #9298b9;
    justify-content: center;

  }
}

.drawer-logo {
  text-align: center;
  width: 150px;
  height: 150px;
  margin: 50px auto;
  background: transparent url("../../assets/bip_ramadan_logo.png") no-repeat center center;
  background-size: contain;
}