.compass-layout {
  width: 100%;
  background-color: transparent;
  justify-content: center;
  align-items: center;

  .start-screen {
    width: 100%;
    text-align: center;
    max-width: 400px;

    .bip-logo {
      width: 100%;
      background: transparent url("../../assets/bip_ramadan_logo.png") no-repeat center center;
      background-size: contain;
      height: 150px;
      margin-bottom: 50px;
    }
  }

  .compass-table {
    width: 100%;
  }

  .compass-table th {
    text-align: left;
  }

  .compass-table th,
  .compass-table td {
    border: 1px solid #c8c7c7;
    padding: 5px;
  }
}